body {
    font-family: Arial, sans-serif;
    background-image: url(PACHANGA-PRO-WEB.jpg);
    background-size: cover;
    background-repeat: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
  }
  
  #marcador {
    margin-top: 200px;
    display: grid;
    gap: 8rem;
    grid-template-columns: repeat(2,1fr);
    justify-items: stretch;
    align-items:end ;
    justify-items: center;
    width: 100%;
    height: 500px;
 
  }
  
  .equipo {
    border: 1px solid red;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    height: auto;
    max-width: 500px;
    text-align: center;
    color: #fff;
    font-size: 60px;


  }

  .puntuacion {
    display: flex;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    margin: 0 auto;
  }
  
  button {
    margin-left: 10px;
    cursor: pointer;
  }
  