body {
    font-family: Arial, sans-serif;
    background-image: url(PACHANGA-PRO-WEB.jpg);
    background-size: cover;
    background-repeat: none;
    display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
  }
  
  #marcador {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: stretch;
    align-items:end ;
    justify-items: center;
    width: 100%;
    height: 500px;
 
  }
  
  .equipo {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    text-align: center;
    color: #fff;

  }
  .equipo1{
    font-size: 54px;
  }
  .equipo2{

    font-size: 54px;
  }
  .puntuacion {
    display: flex;
    align-items: center;
    font-size: 80px;
    font-weight: bold;
    margin: 0 auto;
  }
  
  button {
    margin-left: 10px;
    cursor: pointer;
  }
  